@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
@*                    <Authorizing>
                        <PageTitle>Authentication</PageTitle>
                        <p>Checking authentication state...</p>
                        @if (NavigationManager.BaseUri == "test")
                        {
                            var test = NavigationManager.BaseUri;
                        }
                    </Authorizing>*@
                    <NotAuthorized>
                        @if (context.User.Identity?.IsAuthenticated != true)
                        {
                            
                            NavigationManager.NavigateTo("/login");
                        }
                        else
                        {
                            <p role="alert">[App.Razor] You are not authorized to access this resource.</p>
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
</CascadingAuthenticationState>


    
    
    

