@page "/wishlist"
@page "/"

@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject WishListState WishListState


<h3>WishLists</h3>

@if (_wishlists == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @:Table 1 Monitor
    <br />
    if(_selectedRow != null){ 
        @: you have selected @_selectedRow.Name
    }


    

    <MudTable Items="@_wishlists" @ref="_mudTable" SelectOnRowClick="true" RowStyleFunc="@SelectedRowStyleFunc" SelectedItemChanged="EventCallback.Factory.Create<WishListDTO>(this,HandleSelectedWishList)">
        <HeaderContent>
            <MudTh>List Owner</MudTh>
            <MudTh>List Name</MudTh>
            <MudTh>Notes</MudTh>
        </HeaderContent>
        <RowTemplate>
                <MudTd>@context.Name</MudTd>
                <MudTd>list property 2</MudTd>
                <MudTd>list property 3</MudTd>
        </RowTemplate>
    </MudTable>


    @* link to wishlistdetails *@
@*    <MudButton OnClick="OnClick">Test Guid</MudButton>
*@
    <!-- Bind Example -->
@*    <MudTable T="WishList" @ref="mudTable" Items="_wishlists" RowStyleFunc="@SelectedRowStyleFunc" 
          @bind-SelectedItem="_selectedRow2">
        <HeaderContent>
            <MudTh>List Name</MudTh>
            <MudTh>User Name</MudTh>
            <MudTh>Details</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTr>
                <MudTd>@context.Name</MudTd>
                <MudTd>list property 2</MudTd>
                <MudTd>list property 3</MudTd>
            </MudTr>
        </RowTemplate>
    </MudTable>

    @:Table 2 Monitor <br />
    if (_selectedRow2 != null)
    {
        @: you have selected @_selectedRow2.Name
    }*@

}

@code {


    //EXAMPLE 2
    private MudTable<WishListDTO>? _mudTable;

    //TODO Inject WishListState to track selected item
    

    private string SelectedRowStyleFunc(WishListDTO wl, int rowNumber)
    {
        if (_mudTable?.SelectedItem != null && _mudTable.SelectedItem.Equals(wl))
        {
            return "background-color: lightgrey";
        }
        return string.Empty;
    }



    //query wish lists for API
    private WishListDTO[]? _wishlists;

    private WishListDTO? _selectedRow;


    protected override async Task OnInitializedAsync()
    {
        _wishlists ??= await Http.GetFromJsonAsync<WishListDTO[]>("WishList");
    }

    private void HandleSelectedWishList(WishListDTO list)
    {
        _selectedRow = list;
        //redirect user to another page
        NavigationManager.NavigateTo($"/details/{list.Id}");
        //NavigationManager.NavigateTo($"/details/{Guid.NewGuid()}");
    }

    


    //private Task Selected2()
    //{

        
    //}

    private void OnClick()
    {
        var link = $"/guidtest/{Guid.NewGuid()}";
        NavigationManager.NavigateTo(link);

    }

}
